@import "../../../node_modules/antd/dist/antd.css";

.site-page-header-ghost-wrapper {
    background-color: #0e131b;
    padding: 5px;
}

.text-white{
    color: #ffffff
}

.text-center {
  text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.grid {
    margin: 20px;
}

.content{
    margin-left: 20px;
    /*margin-right: 20px;*/
}

.bg-light-gray{
    background-color: #dedede;
}

.project-size-progress{
    width: 200px;
    margin: 0px;
    padding: 0px;
}

.project-popover{
    min-width: 300px;
    max-width: 380px;
}

.add-object-popover{
    min-width: 600px;
}

.golden-guru{
    background-color: #f1f243;
    box-shadow: 0 0 10px #f1f243;
}

.guru-modal{
    min-width: 860px;
}

.preview-corpus{
    white-space: pre-wrap;
}

.icon{
    padding: 0px;
}

.list{
    max-height: 500px;
    overflow: auto;
}

.line_break{
    word-wrap: break-word;
    word-break: break-all;
}

html,body {
    margin: 0;
    padding:0;
    height: 100%;
    /*background: #00a8ff;*/
}

#root {
    min-height:100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    /*background: #00a8ff;*/
    clear:both;
}

#content {
    padding-bottom: 20px;
}

.shadow {
    background: white;
    box-shadow: 0px 1px 2px #888888;
    margin-bottom: 2px;
}